[submodule "external/mupdf"]
	path = external/mupdf
	url = https://github.com/ArtifexSoftware/mupdf.git
[submodule "thirdparty/mupdf"]
	path = thirdparty/mupdf
	url = https://github.com/ArtifexSoftware/mupdf
